body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*background: linear-gradient(to bottom, #24252a 15%, #6600cc 74%);*/
    background-color:#24252A;
}
li, a, button {
    font-family: Bahnschrift,sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    /*cursor:pointer;*/
    order: 3;
    margin-left: auto;
}

nav {
    order: 1;
}

.nav_bar {
    list-style: none;
    azimuth: center-right;
}

    .nav_bar li {
        display: inline-block;
        padding: 0px 20px;
    }

        .nav_bar li:nth-child(1) {
            padding: 0 20px 0 0;
        }

        .nav_bar li a {
            transition: all 0.3s ease 0s;
        }

            .nav_bar li a:hover {
                color: #7913d3;
            }

.cta {
    order: 2;
}

.cta {
    padding: 9px;
    background-color: #6846dd;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

    .cta:hover {
        background-color: #b200ff;
    }
.deletebtn {
    padding: 9px;
    background-color: #333333;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.box {
    width: 850px;
    position: relative;
    margin: 3% auto;
    background-color: rgba(0, 0, 0, 0.19);
    padding: 5px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.showpanel {
    width: 500px;    
    margin: 3% auto;
}